Django==5.1
django-cors-headers==4.6.0
django-filter==24.3 

djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0 
drf-spectacular==0.28.0
drf-jwt==1.19.2

psycopg2-binary==2.9.10
# psycopg2==2.9.10 #sudo apt install libpq-dev 

# sqlparse==0.5.1
# tzdata==2024.1
# asgiref==3.8.1